<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
  <h1 th:utext="#{password_reset.title}">Reset Password</h1>
  <p th:text="#{password_reset.username(${user.name})}">
    Hello, Peter Static!
  </p>
  <p th:text="#{password_reset.desc}">To reset your password click the link below:</p>
  <a th:href="@{${baseUrl}+'/password_resets/'+${user.resetDigest}+'/edit?email='+${user.email}}" th:text="#{password_reset.click}">Reset password</a>
  <p th:text="#{password_reset.expiry}">This link will expire in two hours.</p>
  <p th:text="#{password_reset.ignore}">If you did not request your password to be reset, please ignore this email and your password will stay as it is.</p>
</body>
</html>